# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
*.class
*.pyc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.ipr
*.iws

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart
*.config.dart
**/doc/api/
**/ios/Flutter/.last_build_id
/coverage/

# Logs
*.log

# Environment variables
.env
.env.local

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
